body, html {
  height: 100%;
  background: linear-gradient(#5f2c82, #49a09d);
  font-family: 'Lato', sans-serif;
}

h1, table, tr, td, p, button  {
  font-family: 'Lato', sans-serif;
}

.table {
  margin-bottom: 0px;
}

.margined-container {
  margin-top: 25px;
  margin-bottom: 25px;
}

.add-input {
  margin-top: 10px;
  margin-bottom: 10px;
}

.add-heading {
  color: #fff;
  font-weight: 600;
}

.add-form {
  height: auto;
}

.notification-message {
  margin: 0px;
}

.table-container {
  min-height: 400px;
  max-height: auto;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 20px 30px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  margin-bottom: 200px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
